.blackbox {
  padding: 1em;
  background: #DBDBDB;
  color: black;
  border: 4px solid black;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.cols {display: flex; }

.theorem{
  display: block;
  font-style: italic;
}
.theorem::before{
  content:"Theorem. ";
  font-weight: bold; 
  font-style: normal;
}
.theorem[name]::before{
  content: "Theorem (" attr(name) ") ";
}

